$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
$color-primary: #71A5C8;

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*, div {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-top: 0px;
  margin-bottom: 15px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/debut_light.png');
}

.btn {
  padding: 5px 10px;
  border-radius: 0px;
  cursor: pointer;
  background: white;
  border: 1px solid $color-primary;
}

.btn:hover {
  background-color: $color-primary;
  color: white;
}

select {
  padding: 5px 10px;
}

.form-group {
  margin-bottom: 15px;
}

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  overflow: hidden;
}

.subcontainer {
  background: #fff;
  overflow: hidden;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 30px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.warning-message {
  padding: 15px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

/* Lightbox */
#lightbox {
  position: fixed; /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  .modal-dialog {
    background: rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 10px;
  }
  .modal-header {
    position: relative;
    padding: 5px;
    .close {
      position: absolute;
      right: 5px;
      top: 3px;
      padding: 5px;
    }
    .btn {
      width: 100px;
      text-align: center;
      padding: 5px 10px;
      background: white;
      border: 1px solid #f1f2f2;
      border-radius: 0px;
      cursor: pointer;
    }
    .btn:hover {
      background: $color-primary;
      border: 1px solid $color-primary;
      color: white;
    }
  }
}

/* Gallery custom CSS */
.img-responsive {
  max-width: 100%;
}

.loading-indicator {
  padding: 15px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.controls {
  margin-bottom: 30px;
}

.imageset {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  .single-photo-subcontainer {
    min-height: 300px;
    width: 100%;
    background-size: cover;
    cursor: pointer;
  }
  .single-photo-container {
    padding: 15px;
    float: left;
    width: 100%;
    //margin-bottom: 10px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }
  #lightbox {
    .modal-dialog {
      width: 800px;
    }
    .img-responsive {
      margin: 0 auto;
    }
    .img-title {
      color:white;
    }
  }
  .imageset {
    .single-photo-subcontainer {
      min-height: 180px;
    }
    .single-photo-container {
      width: 33%;
      min-width: 250px;
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  #lightbox {
    .modal-dialog {
      width: 900px;
    }
  }
}

@media screen and (min-width: 1680px) {
  #lightbox {
    .modal-dialog {
      width: 1024px;
    }
  }
}